{% macro print_changes(tag_changes, no_changes_message) -%}
{% if tag_changes|length == 0 -%}
- No changes
{% else -%}
{% for change in tag_changes -%}
- {{ change['message'] }}
{% endfor -%}
{% endif -%}
{% endmacro -%}
{% for tag in changes -%}
### {{ tag['version'] }}
#### Features
{{ print_changes(tag['feat']) }}
#### Bug fixes
{{ print_changes(tag['bugfix']) }}
#### Dependency updates
{{ print_changes(tag['chore']) }}
{% if not loop.last %}
---
{% endif %}
{% endfor %}
