## Module dependencies and providers
{% if module_info['uses']|length != 0 -%}
### Dependencies
```
{% for dependency in module_info['uses'] %} - {{ dependency }}
{% endfor -%}
```
{% endif -%}

{% if module_info['providers']|length != 0 %}
### Providers
{% for provider_name in module_info['providers'] -%}
#### {{ provider_name }}
```
{% for provider in module_info['providers'][provider_name] %} - {{ provider }}
{% endfor -%}
```
{% endfor -%}
{% endif -%}
