{% macro print_subtree(tree, path, indent) %}
{% for project in tree|sort %}
{{ " "*indent*4 }}* [{{ project }}](projects/{{ path }}/{{ project }}/index.md)
{{ print_subtree(tree[project], "{}/{}" .format(path, project), indent + 1) }}{% endfor %}{% endmacro %}
{% macro print_tree(tree, indent) %}
{% for project in tree|sort %}
{% if tree[project] is mapping %}
{{ " "*indent*4 }}* {{ project }}
{% if tree[project]['module_tree'] is defined %}
{{ print_subtree(tree[project]['module_tree'], tree[project]['project_id'], indent + 1) }}{% else %}
{{ print_tree(tree[project], indent + 1) }}{% endif -%}
{% else %}
{{ " "*indent*4 }}* [{{ project }}](projects/{{ (tree[project]) }}/index.md)
{% endif -%}{% endfor -%}{% endmacro %}
* [Home](index.md)
* [Projects](overview.md)
{{ print_tree(project_tree, default_indent) }}
